@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Piedra&display=swap|Exo:300,400,500,600,700');

 /* nav-menu */
.sidenav-trigger  {
    z-index: 18;
    position: absolute;
    top: 10px;
    left: 10px;
}

.navmenu {
    z-index: 20px;
    position: absolute;
    border: 10px;
    border-radius: 7rem;

}

body {
    background: url('../images/clouds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Piedra', sans-serif;
    height: 900px;
}

.add_container {
    margin-top: 40px !important;
    /* background-color: rgba(0,0, 0, 0.5); */
    margin-left: 0;
    height: 800px;
    /* width: 50vw; */
}

.addform {
    background-color: rgba(0,0, 0, 0.5);
}

.full_image {
    height: 350px;
}

.full_title {
    font-weight: 700;
}
.auth_direct {
    font-weight: 500;
    font-size: 30px;
}
.full_category {
    font-weight: 500;
    font-size: 30px;
    
}

.full_description {
    font-size: 25px;
}

.comment_p {
    font-size: 18px;
}


.input_row {
    margin-left: 5px;
}


@media only screen and (max-width: 560px) {
    body {
        max_width: 
    }