@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Piedra&display=swap');

.sidenav-trigger  {
    z-index: 18;
    position: absolute;
    top: 10px;
    left: 10px;
}

.navmenu {
    z-index: 20px;
    position: absolute;
    border: 10px;
    top: 15px;
    left: 15px;
    border-radius: 7rem;

}

.slider {
    position: relative;
    top: 0;
    left: 0;
    height: 800;
    width: 100vw;
    background: transparent;
}

.slider .slides li .caption .slidetitle {
    font-family: 'Fredoka', sans-serif !important; 
    font-weight: 700;
}

.slider .slides li .caption .slidetext {
    font-family: 'Piedra', sans-serif !important;
    font-weight: 500;
}
