@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Piedra&display=swap|Exo:300,400,500,600,700');

.sidenav-trigger  {
    z-index: 18;
    position: absolute;
    top: 10px;
    left: 10px;
}

.navmenu {
    z-index: 20px;
    position: absolute;
    border: 10px;
    border-radius: 7rem;

}

.slider {
    position: relative;
    top: 0;
    left: 0;
    height: 20vh;
    width: 100vw;
    background: transparent;
}


.slider .slides li .caption h3  {
    font-family: 'Piedra', sans-serif !important; 
    font-weight: 700;
    color: #0d47a1 !important;
}

.slider .slides li .caption .slidetext {
    font-family: 'Piedra', sans-serif !important;
    font-weight: 700;
    font-size:  20px;
    color: #0d47a1 !important;
}

@media only screen and (max-width: 560px) {
  .slides {
      height: 20vh;
  }
}