<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>

    <div id="slider" class="slider">
    <ul class="slides">
      <li>
        <img src="../static/images/clouds.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="slidetitle">Ascension</h3>
          <h5 class="light grey-text text-lighten-3 slidetext">A Collection of Philosophy and Spirituality </h5>
        </div>
      </li>
      <li>
        <img src="../static/images/steppe3.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3 class="slidetitle">Inspiring Movies</h3>
          <h5 class="light grey-text text-lighten-3 slidetext">Find out which movies are valued for their Meaning and Power!</h5>
        </div>
      </li>
      <li>
        <img src="../static/images/clouds.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3 class="slidetitle">Powerful Books</h3>
          <h5 class="light grey-text text-lighten-3 slidetext">Engulf yourself in the Knowledge and Wisdom recommended by others!</h5>
        </div>
      </li>
      <li>
        <img src="../static/images/clouds.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="slidetitle">Add your own!</h3>
          <h5 class="light grey-text text-lighten-3 slidetext">Share the books or movies you wish other people would see!</h5>
        </div>
      </li>
    </ul>
  </div>

      <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="images/office.jpg" />
          </div>
          <a href="#user"><img class="circle" src="images/yuna.jpg" /></a>
          <a href="#name"><span class="white-text name">John Doe</span></a>
          <a href="#email"
            ><span class="white-text email">jdandturk@gmail.com</span></a
          >
        </div>
      </li>
      <li>
        <a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a>
      </li>
      <li><a href="#!">Second Link</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"
      ><i id="menuicon" class="small material-icons navmenu white-text black">menu</i></a>

    
    {% block content %} {% endblock %}
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
   <script> $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.slider').slider();
        });
    </script>
    <script>
    $(window).resize(function(){     

       if ($('#slider').width() >= 520 ){
            $('#menuicon').removeClass('small').addClass('large')
       }
       else ($(#'slider').width() =< 520 ) {
            $('#menuicon').removeClass('large').addClass('small')
       }

    });
  </script>
</html>
