{% extends 'add_layout.html'%} 

{% block title %}
<title>Full book</title>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="center-align">
    {% for category, message in messages %}
      <h4 class="{{ category }}">{{ message }}</h4>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<div class="add_container">
  <div>
    <div class="row">
      <div class="col 5">
        <img
          class="full_image"
          src="{{ book.img_url }}"
          alt="image of bookcover"
        />
      </div>
      <div class="col 7">
        <h3 class="full_title">{{ book.title }}</h3>
        <p class="auth_direct">
          <i class="material-icons medium left">person</i>
          {{book.author.title()}}
        </p>
        <p class="full_category">
          <i class="material-icons medium left">wb_sunny</i>
          {{book.category.capitalize()}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col 7">
        <p class="full_description">{{book.description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col 12">
        <p class="comment_p">
          <i class="material-icons medium left">message</i
          >{{book.first_comment}}
        </p>
      </div>
      <div class="col 12">
        <p class="comment_p">
          <i class="material-icons medium left">message</i
          >{{book.second_comment}}
        </p>
      </div>
      <div class="col 12">
        <p class="comment_p">
          <i class="material-icons medium left">message</i
          >{{book.third_comment}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col 12">
        <div class="center-align">
          <button data-target="editmodal" class="btn modal-trigger">
            Edit Book
          </button>
          <button data-target="deletemodal" class="btn modal-trigger">
            Delete Book
          </button>
        </div>
      </div>
    </div>
    <div id="editmodal" class="modal">
      <div class="modal-content">
        <form
          action="{{url_for('checkBookForEdit', book_id=book._id )}}"
          method="POST"
        >
          <h4>Enter the code you've received to continue</h4>
          <div class="input-field col s6">
            <input
              id="insert_code"
              name="insert_code"
              type="text"
              class="validate"
              required
            />
            <label for="code">Security Code</label>
            <div class="modal-footer">
              <button
                type="submit"
                class="modal-close waves-effect waves-green btn-flat"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="deletemodal" class="modal">
    <div class="modal-content">
      <form
        action="{{url_for('checkBookAndDelete', book_id=book._id )}}"
        method="POST"
      >
        <h4>Enter the code you've received to Delete the Book</h4>
        <div class="input-field col s6">
          <input
            id="insert_deletecode"
            name="insert_deletecode"
            type="text"
            class="validate"
            required
          />
          <label for="code">Security Code</label>
          <div class="modal-footer">
            <button
              type="submit"
              class="modal-close waves-effect waves-green btn-flat"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
