{% extends 'base.html' %}
{% block title %}
<title>Books</title>
{% endblock %}

{% block content %}

<div class="row">
  {% for book in books %}
  <div class="col 12">
    <div class="card" style="width: 20rem;">
      <img
        class="card-img-top"
        src="{{ book.img_url }}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title"><strong>{{ book.title.title()}}</strong></h5>
        <p class="card-text">
          {{book.first_comment}}
        </p>
      </div>
      <ul class="list-group list-group-flush">
      <div class="card-separate"></div>
        <li class="list-group-item hoverable"><i class="material-icons left">person</i><strong> Author: </strong>{{book.author.title()}} </li>
        <div class="card-separate"></div>
        <li class="list-group-item hoverable"><i class="material-icons left">wb_sunny</i><strong>Category: </strong>{{book.category.capitalize()}} </li>
        <div class="card-separate"></div>
      </ul>
      <div class="card-body hoverable">
        <a href="{{url_for('full_book', book_id=book._id)}}" class="card-link"><i class="material-icons left">keyboard_arrow_right</i>More information</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- </div> -->
{% endblock %}